
@{
    ViewData["Title"] = "Phone";
}
<p>Phone</p> <br />

    <div class="main">
        <div class="content">
            <div class="content_top">
                <div class="heading">
                    <h3>Sản phẩm mới</h3>
                </div>
                <div class="see">
                    <p><a href="#">Xem tất cả sản phẩm</a></p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="section group">
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="preview.html">
                        <img src="images/samsung-galaxy-note-9-black-400x460-400x460.png"
                             alt="" />
                    </a>
                    <h2>Điện thoại Samsung Galaxy Note 9 </h2>
                    <div class="price-details">
                        <div class="price-number">
                            <p><span class="rupees">16.990.000 <sup>đ</sup> </span></p>
                        </div>
                        <div class="add-cart">
                            <h4><a href="preview.html">Thêm vào giỏ</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="preview.html"><img src="images/huawei-p30-lite-400x460.png" alt="" /></a>
                    <h2>Điện thoại Huawei P30 Lite Pro </h2>
                    <div class="price-details">
                        <div class="price-number">
                            <p><span class="rupees">6.020.000<sup>đ</sup></span></p>
                        </div>
                        <div class="add-cart">
                            <h4><a href="preview.html">Thêm vào giỏ</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="preview.html">
                        <img src="images/phone/oppo-a5-2020-128gb-black-400x460.png"
                             alt="" />
                    </a>
                    <h2>Điện thoại OPPO A5 (2020) 128GB </h2>
                    <div class="price-details">
                        <div class="price-number">
                            <p><span class="rupees">5.290.000<sup>đ</sup></span></p>
                        </div>
                        <div class="add-cart">
                            <h4><a href="preview.html">Thêm vào giỏ</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="preview.html"><img src="images/samsung-galaxy-a70-white-400x460.png" alt="" /></a>
                    <h2>Điện thoại Samsung Galaxy A70 </h2>
                    <div class="price-details">
                        <div class="price-number">
                            <p><span class="rupees">8.790.000<sup>đ</sup></span></p>
                        </div>
                        <div class="add-cart">
                            <h4><a href="preview.html">Thêm vào giỏ</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="content_bottom">
                <div class="heading">
                    <h3>Sản phẩm đặc biệt</h3>
                </div>
                <div class="see">
                    <p><a href="#">See all Products</a></p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="section group">
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="preview.html">
                        <img src="images/phone/huawei-p30-pro-1-400x460.png"
                             alt="" />
                    </a>
                    <h2>Điện thoại Huawei P30 Pro mới nhất 2019</h2>
                    <div class="price-details">
                        <div class="price-number">
                            <p><span class="rupees">20.690.000</span></p>
                        </div>
                        <div class="add-cart">
                            <h4><a href="preview.html">Thêm vào giỏ</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="preview.html">
                        <img src="images/phone/iphone-6s-plus-32gb-400x460.png" alt="" />
                    </a>
                    <h2>Điện thoại iPhone 6s Plus 32GB</h2>
                    <div class="price-details">
                        <div class="price-number">
                            <p><span class="rupees">8.490.000</span></p>
                        </div>
                        <div class="add-cart">
                            <h4><a href="preview.html">Thêm vào giỏ</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="preview.html">
                        <img src="images/phone/nokia-81-blue-18thangbh-400x460.png"
                             alt="" />
                    </a>
                    <h2>Điện thoại Nokia 8.1 năm 2019 </h2>
                    <div class="price-details">
                        <div class="price-number">
                            <p><span class="rupees">6.590.000</span></p>
                        </div>
                        <div class="add-cart">
                            <h4><a href="preview.html">Thêm vào giỏ</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="preview.html">
                        <img src="images/phone/sieu-pham-galaxy-s-moi-2-512gb-black-400x460.png"
                             alt="" />
                    </a>
                    <h2>Điện thoại Samsung Galaxy S10+ (512GB)</h2>
                    <div class="price-details">
                        <div class="price-number">
                            <p><span class="rupees">26.990.000</span></p>
                        </div>
                        <div class="add-cart">
                            <h4><a href="preview.html">Thêm vào giỏ</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

