<ul class="sidebar-menu" data-widget="tree">
    <li class="header">HEADER</li>
    <!-- Optionally, you can add icons to the links -->

    <li><a asp-area="Admin" asp-controller="Home" asp-action="Home">Home</a></li>
    <li><a asp-area="Admin" asp-controller="User" asp-action="Index">Users</a></li>
    <li><a asp-area="Admin" asp-controller="SpecialTag" asp-action="Index"><i class="fa fa-link"></i>SpecialTag</a></li>
    <li><a asp-area="Admin" asp-controller="Products" asp-action="Index"><i class="fa fa-link"></i>Products</a></li>
    <li><a asp-area="Admin" asp-controller="Category" asp-action="Index"><i class="fa fa-link"></i>Product Types</a></li>
</ul>